USE [master]
GO
/****** Object:  Database [ACUARIO]    Script Date: 18-11-2025 8:40:10 ******/
CREATE DATABASE [ACUARIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ACUARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ACUARIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ACUARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ACUARIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACUARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACUARIO]
GO
/****** Object:  Table [dbo].[ALIMENTOO]    Script Date: 18-11-2025 8:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALIMENTOO](
	[ID_ALIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ALIMENTO] [varchar](100) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATENCIONES]    Script Date: 18-11-2025 8:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATENCIONES](
	[ID_ATENCION] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_ACTIVIDAD] [varchar](50) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ID_PECES] [int] NOT NULL,
	[ID_ALIMENTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ATENCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PECERAAS]    Script Date: 18-11-2025 8:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PECERAAS](
	[ID_PECERA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PECERA] [varchar](100) NOT NULL,
	[LITROS] [decimal](10, 2) NOT NULL,
	[TEMPERATURA] [decimal](10, 2) NOT NULL,
	[PH] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PECERA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PECES]    Script Date: 18-11-2025 8:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PECES](
	[ID_PECES] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PEZ] [varchar](100) NOT NULL,
	[ESPECIE] [varchar](100) NOT NULL,
	[EDAD] [int] NULL,
	[ID_PECERA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PECES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 18-11-2025 8:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 18-11-2025 8:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PASS] [varchar](50) NOT NULL,
	[ID_ROL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALIMENTOO] ON 

INSERT [dbo].[ALIMENTOO] ([ID_ALIMENTO], [NOMBRE_ALIMENTO], [TIPO]) VALUES (1, N'GUSANOS', N'VIVOS')
INSERT [dbo].[ALIMENTOO] ([ID_ALIMENTO], [NOMBRE_ALIMENTO], [TIPO]) VALUES (2, N'Pezcado', N'muerto')
INSERT [dbo].[ALIMENTOO] ([ID_ALIMENTO], [NOMBRE_ALIMENTO], [TIPO]) VALUES (3, N'carnada', N'muerto')
SET IDENTITY_INSERT [dbo].[ALIMENTOO] OFF
GO
SET IDENTITY_INSERT [dbo].[ATENCIONES] ON 

INSERT [dbo].[ATENCIONES] ([ID_ATENCION], [TIPO_ACTIVIDAD], [FECHA], [ID_USER], [ID_PECES], [ID_ALIMENTO]) VALUES (2, N'Dar comida', CAST(N'2025-11-11T11:11:00.000' AS DateTime), 1, 2, 1)
INSERT [dbo].[ATENCIONES] ([ID_ATENCION], [TIPO_ACTIVIDAD], [FECHA], [ID_USER], [ID_PECES], [ID_ALIMENTO]) VALUES (3, N'Dar comida', CAST(N'2025-09-11T11:11:00.000' AS DateTime), 3, 6, 5)
INSERT [dbo].[ATENCIONES] ([ID_ATENCION], [TIPO_ACTIVIDAD], [FECHA], [ID_USER], [ID_PECES], [ID_ALIMENTO]) VALUES (4, N'Dar comida', CAST(N'2025-11-23T11:11:00.000' AS DateTime), 1, 5, 2)
SET IDENTITY_INSERT [dbo].[ATENCIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[PECERAAS] ON 

INSERT [dbo].[PECERAAS] ([ID_PECERA], [NOMBRE_PECERA], [LITROS], [TEMPERATURA], [PH]) VALUES (1, N'AQUA', CAST(100.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)))
INSERT [dbo].[PECERAAS] ([ID_PECERA], [NOMBRE_PECERA], [LITROS], [TEMPERATURA], [PH]) VALUES (2, N'Sur 1', CAST(1000.00 AS Decimal(10, 2)), CAST(21.00 AS Decimal(10, 2)), CAST(14.00 AS Decimal(10, 2)))
INSERT [dbo].[PECERAAS] ([ID_PECERA], [NOMBRE_PECERA], [LITROS], [TEMPERATURA], [PH]) VALUES (3, N'norte 1', CAST(300.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(23.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PECERAAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PECES] ON 

INSERT [dbo].[PECES] ([ID_PECES], [NOMBRE_PEZ], [ESPECIE], [EDAD], [ID_PECERA]) VALUES (2, N'Nemo', N'Payaso', 1, 1)
INSERT [dbo].[PECES] ([ID_PECES], [NOMBRE_PEZ], [ESPECIE], [EDAD], [ID_PECERA]) VALUES (3, N'tortu', N'tortuga', 34, 4)
INSERT [dbo].[PECES] ([ID_PECES], [NOMBRE_PEZ], [ESPECIE], [EDAD], [ID_PECERA]) VALUES (4, N'chaly', N'orca', 56, 3)
SET IDENTITY_INSERT [dbo].[PECES] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (1, N'Admin')
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (2, N'Gerente')
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (3, N'Cuidador')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USER], [EMAIL], [NOMBRE], [PASS], [ID_ROL]) VALUES (1, N'cl@ipvg.cl', N'carlos', N'123', 1)
INSERT [dbo].[USUARIO] ([ID_USER], [EMAIL], [NOMBRE], [PASS], [ID_ROL]) VALUES (2, N'ee@ipvg.cl', N'emerson', N'123', 2)
INSERT [dbo].[USUARIO] ([ID_USER], [EMAIL], [NOMBRE], [PASS], [ID_ROL]) VALUES (3, N'yb@ipvg.cl', N'yorgi', N'123', 3)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ATENCIONES]  WITH CHECK ADD FOREIGN KEY([ID_ALIMENTO])
REFERENCES [dbo].[ALIMENTOO] ([ID_ALIMENTO])
GO
ALTER TABLE [dbo].[ATENCIONES]  WITH CHECK ADD FOREIGN KEY([ID_ALIMENTO])
REFERENCES [dbo].[ALIMENTOO] ([ID_ALIMENTO])
GO
ALTER TABLE [dbo].[ATENCIONES]  WITH CHECK ADD FOREIGN KEY([ID_PECES])
REFERENCES [dbo].[PECES] ([ID_PECES])
GO
ALTER TABLE [dbo].[ATENCIONES]  WITH CHECK ADD FOREIGN KEY([ID_PECES])
REFERENCES [dbo].[PECES] ([ID_PECES])
GO
ALTER TABLE [dbo].[ATENCIONES]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USUARIO] ([ID_USER])
GO
ALTER TABLE [dbo].[ATENCIONES]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USUARIO] ([ID_USER])
GO
ALTER TABLE [dbo].[PECES]  WITH CHECK ADD FOREIGN KEY([ID_PECERA])
REFERENCES [dbo].[PECERAAS] ([ID_PECERA])
GO
ALTER TABLE [dbo].[PECES]  WITH CHECK ADD FOREIGN KEY([ID_PECERA])
REFERENCES [dbo].[PECERAAS] ([ID_PECERA])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
USE [master]
GO
