@model AcuarioWebs.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="alert alert-secondary mt-5 text-center">Detalles del Usuario</h1>

<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="mb-0">Información del Usuario</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 col-md-2">
                Email
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-3 col-md-2">
                Nombre
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-3 col-md-2">
                Contraseña
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.Pass)
            </dd>

            <dt class="col-sm-3 col-md-2">
                Rol
            </dt>
            <dd class="col-sm-9 col-md-10">
                @Html.DisplayFor(model => model.IdRolNavigation.Rol1)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-end">
        <a asp-action="Edit" asp-route-id="@Model?.IdUser" class="btn btn-warning">
            <i class="fa-solid fa-pen-to-square"></i> Editar
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Volver a la Lista
        </a>
    </div>
</div>
