<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AcuarioLara</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/styles.css" />
	<script src="~/js/fontawesome.all.js"></script>


</head>
<body class="sb-nav-fixed">
	<header>
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" asp-controller="Home" asp-action="Index">AcuarioWeb</a>
			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
			<!-- Navbar Search-->
			<div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
				<div class="input-group">
					
					
				</div>
			</div>
			<!-- Navbar-->
			<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" asp-action="Logout" asp-controller="Home">Salir</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			@Html.Partial("_LateralMenu")
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-5">
					@RenderBody()
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Todos los derechos reservados a AcuarioWeb - IPVG</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/scripts.js" asp-append-version="true"></script>
	<script src="~/js/sweetalert.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
